@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Thin.woff2') format('woff2'),
        url('Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Black.woff2') format('woff2'),
        url('Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.woff2') format('woff2'),
        url('Montserrat-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraLightItalic.woff2') format('woff2'),
        url('Montserrat-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Light.woff2') format('woff2'),
        url('Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraBold.woff2') format('woff2'),
        url('Montserrat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraLight.woff2') format('woff2'),
        url('Montserrat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Thin.woff2') format('woff2'),
        url('Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Medium.woff2') format('woff2'),
        url('Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.woff2') format('woff2'),
        url('Montserrat-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-SemiBold.woff2') format('woff2'),
        url('Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



/* FONTS */

/* ROOT */
:root {
 /* colors */
 --color-primary: #333333;
 --color-secondary: #fff;
 --color-third: #FFBD54;
 --color-forth: #949494;
 /* backgrounds */
 --bg-primary: #F9F8F8;
 --bg-secondary: #fff;
 --bg-third: #F4FFAD;
 /* fonts */
 --font-primary: "Montserrat", sans-serif;
 --font-weight: 500;
}

* {
 margin: 0;
 padding: 0;
 scroll-behavior: smooth;
}

html {
 height: 100%;
 scroll-behavior: inherit;
}

body {
 display: flex;
 flex-direction: column;
 height: 100%;
 font-family: var(--font-primary);
 font-weight: var(--font-weight);
}

main {
 flex-grow: 1;
}

.my-container{
 width: 100%;
 max-width: 1340px;
 margin: 0 auto;
 padding: 0 15px;
}

img {
 max-width: 100%;
 height: auto;
}

ul,
ol {
 list-style: none;
}

a {
 text-decoration: none;
 background-color: transparent;
}
.header-top{
    padding: 12px 0;
}
.site-header{
    padding: 20px 0 ;
}
.hero{
    padding-top: 153px;
    padding-bottom: 290px;
    background-image: url("../images/hero-bg1.png"), url("../images/hero-bg2.png");
    background-repeat: no-repeat, no-repeat;
    background-size: contain, auto;
    background-position: calc(-110px) calc(-180px), calc(100% + 50px) calc(340px) ;
}
.hero-title{
    padding-bottom: 29px;
}
.hero-desc{
    padding-bottom: 38px;
}
.hero-link{
    padding: 16px 48px;
    background-color: var(--color-primary);
}
.quotation{
    padding-top: 20px;
    padding-bottom: 191px;
}
.quotation__wrapper{
    margin: 0 auto;
}
.quotation__desc{
    padding-top: 43px;
    padding-bottom: 35px;
}
.quotation-text{
    padding-top: 35px;
}
.service{
    padding-bottom: 127px;
}
.service__title{
    padding-bottom: 80px;
}
/* .service__list-item{
    max-width: 193px;
} */
 .service__list-item{
    padding: 30px 0;
 }
 .service__list-item__img-box{
    padding-bottom: 21px;
 }
 .service__list-wrapper{
    padding-bottom: 14px;
 }
 .service__desc-wrapper{
    margin: 0 43px;
    padding: 43px 35px;
 }
 .service__desc-box__title{
    padding-bottom: 18px;
 }
 .service__desc-box__desc{
    padding-bottom: 34px;
 }
 .service__desc-box__btn{
    padding: 15px 35px;
 }
 .service__desc-box__link{
    padding: 15px 37px;
    background-color: var(--color-primary);
 }

 .email{
    padding-top: 108px;
    padding-bottom: 65px;
 }
 .email__wrapper{
    padding: 90px 0;
    padding-left: 221px;
 }
 .email__wrapper-title{
    padding-bottom: 32px;
 }
 .email__wrapper-input{
    padding: 12px 0;
    padding-left: 22px;
 }
 .email__wrapper-input__btn{
    padding: 12px 52px;
    margin-left: 21px;
 }

